In [2]:
import requests
import pandas as pd
import time
import json
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

LAB12

In [32]:
url = 'https://store.musinsa.com/app/product/detail/1163605/0'
product = get_product(url)
print(product)

https://store.musinsa.com/app/product/detail/1163605/0
None

In [46]:
def get_product(product_link):
    print(product_link)
    product_ = dict()
    tags_ = []
    product_idx = 0
    
    res = requests.get(product_link)
    soup = BeautifulSoup(res.content, 'html.parser')
    product = soup.select('p.product_article_contents')
    if product[product_idx].select_one('strong a') == None:
        product_idx += 1
    brand = product[product_idx].select_one('strong a').get_text().strip()
    code_name = product[product_idx].select_onde
    product[product_idx].a.decompose()
    product[product_idx].span.decompose()

    product_['brand'] = brand.strip().replace('\'', '-')
    product_['code_name'] = product[product_idx].get_text().strip()
    
    product_idx += 1
    season = product[product_idx].select_one('strong')
    gender = product[product_idx].select_one('span span')
    if season == None:
        product_['season'] = 'none'
    else:
        tmp = season.get_text().split()
        season = ' '.join(tmp)
        product_['season'] = season
    
    if gender == None:
        return None
    product_['gender'] = gender.get_text()
    
    
    img = soup.select_one('div.product-img img')
    product_['img'] = img['src']
    
    tags = product[product_idx].select('a')
    for tag in tags:
        tags_.append(tag.get_text())
    product_['tags'] = tags_
    
    categories = soup.select_one('p.item_categories').select('a')
    middle = categories[0].get_text()
    minor = categories[1].get_text()
    product_['major'] = gender.get_text()
    product_['middle'] = middle
    product_['minor'] = minor
    
    return product_

In [10]:
base_url = 'https://store.musinsa.com'
items_url = 'https://store.musinsa.com/app/items/lists/001005'

In [47]:
def get_items(items_url):
    print(items_url)
    res = requests.get(items_url)
    soup = BeautifulSoup(res.content, 'html.parser')
    items = soup.select('li.li_box')
    for item in items:
        product_link = base_url + item.select_one('a')['href']
        time.sleep(1)
        product = get_product(product_link)
        if product == None:
            continue
        print(product)
        products.append(product)

In [48]:
product_link1 = 'https://store.musinsa.com/app/product/detail/1385845/0'
product_link2 = 'https://store.musinsa.com/app/product/detail/1406153/0'
data = {}
products = []
get_items(items_url)
data['products'] = products

with open('data.json', 'w') as outfile:
    json.dump(data, outfile)
# get_product(product_link1)

https://store.musinsa.com/app/items/lists/001005
https://store.musinsa.com/app/product/detail/1336836/0
{'brand': 'BRENSON', 'code_name': 'BR440', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200305/1336836/1336836_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/956939/0
{'brand': 'UNIFORM BRIDGE', 'code_name': 'UB-1104', 'season': '2019 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190218/956939/956939_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/947067/0
{'brand': 'MUSINSA STANDARD', 'code_name': 'MITS0001-BK', 'season': '2019 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190201/947067/947067_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/897632/0
{'brand': 'TRAVEL', 'code_name': 'TROEAWCR04UB4', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20181104/897632/897632_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1163605/0
https://store.musinsa.com/app/product/detail/643173/0
{'brand': 'ATTENTIONROW', 'code_name': '17FFM11', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20170926/643173/643173_3_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1272201/0
{'brand': 'VIVASTUDIO', 'code_name': 'JSVT21', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200115/1272201/1272201_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1268124/0
{'brand': 'JEEP', 'code_name': 'GL5TSU831IV', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200110/1268124/1268124_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1126435/0
{'brand': 'TRAVEL', 'code_name': 'TROEAWCR04UC5', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190823/1126435/1126435_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1111127/0
{'brand': 'MAHAGRID', 'code_name': 'MG2ASMM480ABL', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190806/1111127/1111127_3_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/938783/0
{'brand': 'COVERNAT', 'code_name': 'C1702CR01IV', 'season': '2020 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190123/938783/938783_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1111126/0
{'brand': 'MAHAGRID', 'code_name': 'MG2ASMM480ABK', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190806/1111126/1111126_3_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/836498/0
{'brand': 'VIVASTUDIO', 'code_name': 'IAVT20', 'season': 'ALL S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20180823/836498/836498_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/836495/0
{'brand': 'VIVASTUDIO', 'code_name': 'JSVT21', 'season': 'ALL S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20180823/836495/836495_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1256481/0
{'brand': 'TRAVEL', 'code_name': 'TRONAWCR71UC5', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20191224/1256481/1256481_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/485073/0
{'brand': 'COVERNAT', 'code_name': 'C1702CR01NA', 'season': '2020 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20170217/485073/485073_3_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/954635/0
{'brand': 'PUNCHLINE', 'code_name': '1723917', 'season': '2019 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190215/954635/954635_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/836499/0
{'brand': 'VIVASTUDIO', 'code_name': 'IAVT20', 'season': 'ALL S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20180823/836499/836499_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/956924/0
{'brand': 'UNIFORM BRIDGE', 'code_name': 'UB-1103', 'season': '2019 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190218/956924/956924_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1308651/0
{'brand': 'UNIFORM BRIDGE', 'code_name': 'UB-1567', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200217/1308651/1308651_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1121465/0
{'brand': 'TRILLION', 'code_name': 'TR9SMT001', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190820/1121465/1121465_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/953099/0
{'brand': 'JIPSY', 'code_name': '19JPS09', 'season': '2020 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190214/953099/953099_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/620634/0
{'brand': 'MELANGE MASTER', 'code_name': 'MMTS0001-BK', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20170831/620634/620634_5_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1111123/0
{'brand': 'MAHAGRID', 'code_name': 'MG2ASMM480AGR', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190806/1111123/1111123_3_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/644037/0
{'brand': 'MARK GONZALES', 'code_name': 'MG2001CR01BK', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20170926/644037/644037_4_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/953273/0
{'brand': 'ONA', 'code_name': 'ONT19421', 'season': '2019 S/S', 'gender': '여', 'img': '//image.msscdn.net/images/goods_img/20190214/953273/953273_1_500.jpg', 'tags': [], 'major': '여', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/947068/0
{'brand': 'MUSINSA STANDARD', 'code_name': 'MITS0001-MG', 'season': '2019 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190201/947068/947068_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/454425/0
https://store.musinsa.com/app/product/detail/953098/0
{'brand': 'JIPSY', 'code_name': '19JPS08', 'season': '2020 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190214/953098/953098_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1163604/0
https://store.musinsa.com/app/product/detail/1199146/0
{'brand': 'BRENSON', 'code_name': 'BR435', 'season': '2019 F/W', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20191023/1199146/1199146_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/644038/0

{'brand': 'MARK GONZALES', 'code_name': 'MG2001CR01GR', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20170926/644038/644038_4_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1110027/0
{'brand': 'COVERNAT', 'code_name': 'C1906CR04BK', 'season': '2020 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190805/1110027/1110027_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1285534/0
{'brand': 'DYCLEZ', 'code_name': '1874213', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200131/1285534/1285534_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/957878/0
{'brand': 'ADIDAS', 'code_name': 'CM1407', 'season': '2019 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190219/957878/957878_4_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1142034/0
https://store.musinsa.com/app/product/detail/1269789/0
{'brand': 'KIRSH', 'code_name': 'JSKT28', 'season': '2020 S/S', 'gender': '여', 'img': '//image.msscdn.net/images/goods_img/20200113/1269789/1269789_1_500.jpg', 'tags': [], 'major': '여', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1245704/0
{'brand': 'BESLOW ORIGINALS', 'code_name': 'BSL19FARCLOSWNA', 'season': '2019 F/W', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20191206/1245704/1245704_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/646891/0
{'brand': 'COVERNAT', 'code_name': 'C1702CR01BR', 'season': '2020 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20170928/646891/646891_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/598263/0
{'brand': 'KIRSH', 'code_name': 'JSKT01', 'season': '2020 S/S', 'gender': '여', 'img': '//image.msscdn.net/images/goods_img/20170804/598263/598263_3_500.jpg', 'tags': [], 'major': '여', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1155974/0
{'brand': 'SOVERMENT', 'code_name': '9NS012C', 'season': '2019 F/W', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190917/1155974/1155974_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1129701/0
{'brand': 'JEEP', 'code_name': 'GK5TSU824BK', 'season': '2019 F/W', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190826/1129701/1129701_3_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/454426/0
https://store.musinsa.com/app/product/detail/947071/0
{'brand': 'MUSINSA STANDARD', 'code_name': 'MITS0001-NA', 'season': '2019 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190201/947071/947071_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/957879/0
{'brand': 'ADIDAS', 'code_name': 'CM1408', 'season': '2019 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190219/957879/957879_4_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/854331/0
{'brand': 'SCULPTOR', 'code_name': 'STRIPE VINTAGE SWEATSHIRT', 'season': '2019 F/W', 'gender': '여', 'img': '//image.msscdn.net/images/goods_img/20180910/854331/854331_4_500.jpg', 'tags': [], 'major': '여', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/397437/0
https://store.musinsa.com/app/product/detail/1268125/0
{'brand': 'JEEP', 'code_name': 'GLTSU831BK', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200110/1268125/1268125_3_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/981067/0
{'brand': 'UNIFORM BRIDGE', 'code_name': 'UB-1181', 'season': '2019 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190313/981067/981067_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1156016/0
{'brand': 'SOVERMENT', 'code_name': '9NS012C', 'season': '2019 F/W', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190917/1156016/1156016_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1304902/0
{'brand': 'LAFUDGESTORE', 'code_name': 'f-865', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200213/1304902/1304902_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/620638/0
{'brand': 'MELANGE MASTER', 'code_name': 'MMTS0001-MG', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20170831/620638/620638_5_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/485074/0
{'brand': 'COVERNAT', 'code_name': 'C1702CR01GN', 'season': '2020 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20170217/485074/485074_4_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/312174/0
{'brand': 'COVERNAT', 'code_name': 'C1702CR01BK', 'season': 'ALL ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20160226/312174/312174_4_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1155975/0
{'brand': 'SOVERMENT', 'code_name': '9NS012C', 'season': '2019 F/W', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190917/1155975/1155975_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1121471/0
{'brand': 'TRILLION', 'code_name': 'TR9SMT001', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190820/1121471/1121471_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/897631/0
{'brand': 'TRAVEL', 'code_name': 'TROEAWCR04UC3', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20181104/897631/897631_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1304910/0
{'brand': 'LAFUDGESTORE', 'code_name': 'f-866', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200213/1304910/1304910_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1285531/0
{'brand': 'DYCLEZ', 'code_name': '1874211', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200131/1285531/1285531_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1209633/0
{'brand': 'MUSINSA STANDARD', 'code_name': 'MITS0001-WH', 'season': '2019 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20191101/1209633/1209633_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1268119/0
{'brand': 'JEEP', 'code_name': 'GL5TSU831MG', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200110/1268119/1268119_4_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/981057/0
{'brand': 'UNIFORM BRIDGE', 'code_name': 'UB-1180', 'season': '2019 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190313/981057/981057_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1312309/0
{'brand': 'WADE', 'code_name': 'W1028', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200219/1312309/1312309_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}

https://store.musinsa.com/app/product/detail/435579/0
{'brand': 'COVERNAT', 'code_name': 'C1702CR01GR', 'season': '2020 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20161025/435579/435579_4_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/235482/0
https://store.musinsa.com/app/product/detail/1290897/0
{'brand': 'COVERNAT', 'code_name': 'C2012CR01IV', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200204/1290897/1290897_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/938782/0
{'brand': 'COVERNAT', 'code_name': 'C1702CR01LT', 'season': '2020 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190123/938782/938782_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1282913/0
{'brand': 'AQOstudiospace', 'code_name': 'AQDAMMT01IV', 'season': '2020 S/S', 'gender': '여', 'img': '//image.msscdn.net/images/goods_img/20200129/1282913/1282913_1_500.jpg', 'tags': [], 'major': '여', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1272195/0
{'brand': 'VIVASTUDIO', 'code_name': 'JSVT21', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200115/1272195/1272195_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1115453/0
{'brand': 'JIPSY', 'code_name': '19JPS34', 'season': '2020 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190809/1115453/1115453_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1269815/0
{'brand': 'KIRSH', 'code_name': 'JSKT26', 'season': '2020 S/S', 'gender': '여', 'img': '//image.msscdn.net/images/goods_img/20200113/1269815/1269815_1_500.jpg', 'tags': [], 'major': '여', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1231838/0
{'brand': 'EZKATON', 'code_name': '1849358', 'season': '2019 F/W', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20191121/1231838/1231838_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/954633/0
{'brand': 'PUNCHLINE', 'code_name': '1723916', 'season': '2019 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190215/954633/954633_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1258099/0
{'brand': 'MAHAGRID', 'code_name': 'MG2ASMM480APP', 'season': '2020 S/S', 'gender': '여', 'img': '//image.msscdn.net/images/goods_img/20191227/1258099/1258099_2_500.jpg', 'tags': [], 'major': '여', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/947070/0
{'brand': 'MUSINSA STANDARD', 'code_name': 'MITS0001-OT', 'season': '2019 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190201/947070/947070_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1126429/0
{'brand': 'TRAVEL', 'code_name': 'TRONAWCR25UC5', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190823/1126429/1126429_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1110026/0
{'brand': 'COVERNAT', 'code_name': 'C1906CR04IV', 'season': '2020 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190805/1110026/1110026_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1143427/0
{'brand': 'EZKATON', 'code_name': '1815790', 'season': '2019 F/W', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190905/1143427/1143427_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1120095/0
{'brand': 'NOMANUAL', 'code_name': 'NM63SW06M1BK', 'season': '2019 F/W', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190818/1120095/1120095_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/853187/0
{'brand': 'ACHA', 'code_name': '맨투맨', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20180910/853187/853187_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1258100/0
{'brand': 'MAHAGRID', 'code_name': 'MG2ASMM480APK', 'season': '2020 S/S', 'gender': '여', 'img': '//image.msscdn.net/images/goods_img/20191227/1258100/1258100_2_500.jpg', 'tags': [], 'major': '여', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1110028/0
{'brand': 'COVERNAT', 'code_name': 'C1906CR04GR', 'season': '2020 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190805/1110028/1110028_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/238891/0
{'brand': 'FP142', 'code_name': '400381', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20150819/238891/238891_18_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/703991/0
{'brand': 'COSTUME O’CLOCK', 'code_name': 'COOSTS068BLACK', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20180125/703991/703991_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1268120/0
{'brand': 'JEEP', 'code_name': 'GL5TSU831BL', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200110/1268120/1268120_3_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1118294/0
{'brand': 'MAHAGRID', 'code_name': 'MG2ASMM481AGR', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190814/1118294/1118294_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1165923/0
{'brand': 'TRAVEL', 'code_name': 'TRONAWCR71UC3', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190925/1165923/1165923_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1263074/0
{'brand': '5252BYOIOI', 'code_name': '20SP_36', 'season': '2020 S/S', 'gender': '여', 'img': '//image.msscdn.net/images/goods_img/20200106/1263074/1263074_2_500.jpg', 'tags': [], 'major': '여', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1308652/0
{'brand': 'UNIFORM BRIDGE', 'code_name': 'UB-1568', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200217/1308652/1308652_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
https://store.musinsa.com/app/product/detail/1256480/0
{'brand': 'TRAVEL', 'code_name': 'TRONAWCR71UB4', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20191224/1256480/1256480_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}

In [51]:
with open('data.json') as f:
  product_data = json.load(f)

for idx, product in enumerate(product_data['products']):
    if idx > 5:
        break
    print(product)

{'brand': 'BRENSON', 'code_name': 'BR440', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200305/1336836/1336836_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
{'brand': 'UNIFORM BRIDGE', 'code_name': 'UB-1104', 'season': '2019 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190218/956939/956939_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
{'brand': 'MUSINSA STANDARD', 'code_name': 'MITS0001-BK', 'season': '2019 ALL', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20190201/947067/947067_2_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
{'brand': 'TRAVEL', 'code_name': 'TROEAWCR04UB4', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20181104/897632/897632_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
{'brand': 'ATTENTIONROW', 'code_name': '17FFM11', 'season': 'none', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20170926/643173/643173_3_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}
{'brand': 'VIVASTUDIO', 'code_name': 'JSVT21', 'season': '2020 S/S', 'gender': '남', 'img': '//image.msscdn.net/images/goods_img/20200115/1272201/1272201_1_500.jpg', 'tags': [], 'major': '남', 'middle': '상의', 'minor': '맨투맨/스웨트셔츠'}

In [35]:
## INSERT SQL
def get_insert_clothes_sql(brand, code_name, season, img):
    sql = """INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    '""" + brand + """',
    '""" + code_name + """',
    '""" + season + """',
    '""" + img + """')"""
    print(sql)
    cursor.execute(sql)
    db.commit()
    return sql



def get_insert_clothes_and_tags_sql(clothes_id, tag):
    clothes_id = str(clothes_id)
    sql = """INSERT INTO CLOTHES_AND_TAGS (clothes_id, tag) VALUES(
    """ + clothes_id + """,
    '""" + tag + """')"""
    cursor.execute(sql)
    db.commit()
    return sql



def get_insert_clothes_and_clothes_class_sql(clothes_id, clothes_class_id):
    clothes_id = str(clothes_id)
    clothes_class_id = str(clothes_class_id)
    sql = """INSERT INTO CLOTHES_AND_CLOTHES_CLASS (clothes_id, clothes_class_id) VALUES(
    """ + clothes_id + """,
    """ + clothes_class_id + """)"""
    cursor.execute(sql)
    db.commit()
    return sql


def get_insert_clothes_class_sql(major, middle, minor):
    sql = """INSERT INTO CLOTHES_CLASS (major,middle, minor) VALUES(
    '""" + major + """',
    '""" + middle + """', 
    '""" + minor + """');"""
    cursor.execute(sql)
    db.commit()
    return sql

## SELCT 
---
SELECT * FROM CLOTHES WHERE brand='A', code_name='A';
select * from CLOTHES where brand='' and code_name='';
---
select * from CLOTHES_AND_TAGS where clothes_id='' and tag='';
---
select * from CLOTHES_AND_CLOTHES_CLASS where clothes_id='' and clothes_class_id='';
---
select * from CLOTHES_CLASS where major='' and middle='' and minor='';
---

In [43]:
## SELECT SQL
def get_select_clothes_sql(brand, code_name):
    sql = """SELECT * FROM CLOTHES WHERE brand=
    '""" + brand + """' and code_name=
    '""" + code_name + """';"""
    print(sql)
    cursor.execute(sql)
    row = cursor.fetchone()
    return row

def get_select_clothes_and_tags_sql(clothes_id, tag):
    clothes_id = str(clothes_id)
    sql = """SELECT * FROM CLOTHES_AND_TAGS WHERE clothes_id=
    """ + clothes_id + """ and tag=
    '""" + tag + """';"""

    cursor.execute(sql)
    row = cursor.fetchone()
    return row


def get_select_clothes_and_clothes_class_sql(clothes_id, clothes_class_id):
    clothes_id = str(clothes_id)
    clothes_class_id = str(clothes_class_id)
    sql = """SELECT * FROM CLOTHES_AND_CLOTHES_CLASS WHERE clothes_id=
    """ + clothes_id + """ and clothes_class_id=
    """ + clothes_class_id + """;"""
    
    cursor.execute(sql)
    row = cursor.fetchone()
    return row


def get_select_clothes_class_sql(major, middle, minor):
    sql = """SELECT * FROM CLOTHES_CLASS WHERE major=
    '""" + major + """' and middle=
    '""" + middle + """' and minor=
    '""" + minor + """';"""
    
    cursor.execute(sql)
    row = cursor.fetchone()
    return row

In [49]:
import pymysql
db = pymysql.connect(host='i02a401.p.ssafy.io', port=3306, user='root', 
                     passwd='likeclothes', db='AI_Project', charset='utf8')
cursor = db.cursor()

In [52]:
for idx, product in enumerate(product_data['products']):

    clothes_class = get_select_clothes_class_sql(product['major'], product['middle'], product['minor'])
    if clothes_class == None:
        print('Update: ', product['major'], product['middle'], product['minor'])
        get_insert_clothes_class_sql(product['major'], product['middle'], product['minor'])
        clothes_class = get_select_clothes_class_sql(product['major'], product['middle'], product['minor'])
    
    clothes = get_select_clothes_sql(product['brand'], product['code_name'])
    if clothes == None:
        print('Update: ', product['brand'], product['code_name'])
        get_insert_clothes_sql(product['brand'], product['code_name'], product['season'], product['img'])
        clothes = get_select_clothes_sql(product['brand'], product['code_name'])
    
    clothes_id = clothes[0]
    clothes_class_id = clothes_class[0]
    clothes_and_clothes_class = get_select_clothes_and_clothes_class_sql(clothes_id, clothes_class_id)
    if clothes_and_clothes_class == None:
        print('Update: Clothes, Clotehs_class', clothes_id, clothes_class_id)
        get_insert_clothes_and_clothes_class_sql(clothes_id, clothes_class_id)
        clothes_and_clothes_class = get_select_clothes_and_clothes_class_sql(clothes_id, clothes_class_id)
    
    for tag in product['tags']:
        clothes_and_tags = get_select_clothes_and_tags_sql(clothes_id, tag)
        if clothes_and_tags == None:
            print("Tag Update: ", clothes_id, tag)
            get_insert_clothes_and_tags_sql(clothes_id, tag)

SELECT * FROM CLOTHES WHERE brand=
    'BRENSON' and code_name=
    'BR440';
Update:  BRENSON BR440
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'BRENSON',
    'BR440',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200305/1336836/1336836_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'BRENSON' and code_name=
    'BR440';
Update: Clothes, Clotehs_class 93 45
SELECT * FROM CLOTHES WHERE brand=
    'UNIFORM BRIDGE' and code_name=
    'UB-1104';
Update:  UNIFORM BRIDGE UB-1104
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'UNIFORM BRIDGE',
    'UB-1104',
    '2019 S/S',
    '//image.msscdn.net/images/goods_img/20190218/956939/956939_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'UNIFORM BRIDGE' and code_name=
    'UB-1104';
Update: Clothes, Clotehs_class 94 45
SELECT * FROM CLOTHES WHERE brand=
    'MUSINSA STANDARD' and code_name=
    'MITS0001-BK';
Update:  MUSINSA STANDARD MITS0001-BK
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MUSINSA STANDARD',
    'MITS0001-BK',
    '2019 ALL',
    '//image.msscdn.net/images/goods_img/20190201/947067/947067_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MUSINSA STANDARD' and code_name=
    'MITS0001-BK';
Update: Clothes, Clotehs_class 95 45
SELECT * FROM CLOTHES WHERE brand=
    'TRAVEL' and code_name=
    'TROEAWCR04UB4';
Update:  TRAVEL TROEAWCR04UB4
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'TRAVEL',
    'TROEAWCR04UB4',
    'none',
    '//image.msscdn.net/images/goods_img/20181104/897632/897632_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'TRAVEL' and code_name=
    'TROEAWCR04UB4';
Update: Clothes, Clotehs_class 96 45
SELECT * FROM CLOTHES WHERE brand=
    'ATTENTIONROW' and code_name=
    '17FFM11';
Update:  ATTENTIONROW 17FFM11
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'ATTENTIONROW',
    '17FFM11',
    'none',
    '//image.msscdn.net/images/goods_img/20170926/643173/643173_3_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'ATTENTIONROW' and code_name=
    '17FFM11';
Update: Clothes, Clotehs_class 97 45
SELECT * FROM CLOTHES WHERE brand=
    'VIVASTUDIO' and code_name=
    'JSVT21';
Update:  VIVASTUDIO JSVT21
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'VIVASTUDIO',
    'JSVT21',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200115/1272201/1272201_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'VIVASTUDIO' and code_name=
    'JSVT21';
Update: Clothes, Clotehs_class 98 45
SELECT * FROM CLOTHES WHERE brand=
    'JEEP' and code_name=
    'GL5TSU831IV';
Update:  JEEP GL5TSU831IV
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'JEEP',
    'GL5TSU831IV',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200110/1268124/1268124_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'JEEP' and code_name=
    'GL5TSU831IV';
Update: Clothes, Clotehs_class 99 45
SELECT * FROM CLOTHES WHERE brand=
    'TRAVEL' and code_name=
    'TROEAWCR04UC5';
Update:  TRAVEL TROEAWCR04UC5
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'TRAVEL',
    'TROEAWCR04UC5',
    'none',
    '//image.msscdn.net/images/goods_img/20190823/1126435/1126435_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'TRAVEL' and code_name=
    'TROEAWCR04UC5';
Update: Clothes, Clotehs_class 100 45
SELECT * FROM CLOTHES WHERE brand=
    'MAHAGRID' and code_name=
    'MG2ASMM480ABL';
Update:  MAHAGRID MG2ASMM480ABL
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MAHAGRID',
    'MG2ASMM480ABL',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20190806/1111127/1111127_3_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MAHAGRID' and code_name=
    'MG2ASMM480ABL';
Update: Clothes, Clotehs_class 101 45
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1702CR01IV';
Update:  COVERNAT C1702CR01IV
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'COVERNAT',
    'C1702CR01IV',
    '2020 ALL',
    '//image.msscdn.net/images/goods_img/20190123/938783/938783_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1702CR01IV';
Update: Clothes, Clotehs_class 102 45
SELECT * FROM CLOTHES WHERE brand=
    'MAHAGRID' and code_name=
    'MG2ASMM480ABK';
Update:  MAHAGRID MG2ASMM480ABK
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MAHAGRID',
    'MG2ASMM480ABK',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20190806/1111126/1111126_3_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MAHAGRID' and code_name=
    'MG2ASMM480ABK';
Update: Clothes, Clotehs_class 103 45
SELECT * FROM CLOTHES WHERE brand=
    'VIVASTUDIO' and code_name=
    'IAVT20';
Update:  VIVASTUDIO IAVT20
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'VIVASTUDIO',
    'IAVT20',
    'ALL S/S',
    '//image.msscdn.net/images/goods_img/20180823/836498/836498_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'VIVASTUDIO' and code_name=
    'IAVT20';
Update: Clothes, Clotehs_class 104 45
SELECT * FROM CLOTHES WHERE brand=
    'VIVASTUDIO' and code_name=
    'JSVT21';
SELECT * FROM CLOTHES WHERE brand=
    'TRAVEL' and code_name=
    'TRONAWCR71UC5';
Update:  TRAVEL TRONAWCR71UC5
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'TRAVEL',
    'TRONAWCR71UC5',
    'none',
    '//image.msscdn.net/images/goods_img/20191224/1256481/1256481_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'TRAVEL' and code_name=
    'TRONAWCR71UC5';
Update: Clothes, Clotehs_class 105 45
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1702CR01NA';
Update:  COVERNAT C1702CR01NA
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'COVERNAT',
    'C1702CR01NA',
    '2020 ALL',
    '//image.msscdn.net/images/goods_img/20170217/485073/485073_3_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1702CR01NA';
Update: Clothes, Clotehs_class 106 45
SELECT * FROM CLOTHES WHERE brand=
    'PUNCHLINE' and code_name=
    '1723917';
Update:  PUNCHLINE 1723917
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'PUNCHLINE',
    '1723917',
    '2019 S/S',
    '//image.msscdn.net/images/goods_img/20190215/954635/954635_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'PUNCHLINE' and code_name=
    '1723917';
Update: Clothes, Clotehs_class 107 45
SELECT * FROM CLOTHES WHERE brand=
    'VIVASTUDIO' and code_name=
    'IAVT20';
SELECT * FROM CLOTHES WHERE brand=
    'UNIFORM BRIDGE' and code_name=
    'UB-1103';
Update:  UNIFORM BRIDGE UB-1103
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'UNIFORM BRIDGE',
    'UB-1103',
    '2019 S/S',
    '//image.msscdn.net/images/goods_img/20190218/956924/956924_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'UNIFORM BRIDGE' and code_name=
    'UB-1103';
Update: Clothes, Clotehs_class 108 45
SELECT * FROM CLOTHES WHERE brand=
    'UNIFORM BRIDGE' and code_name=
    'UB-1567';
Update:  UNIFORM BRIDGE UB-1567
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'UNIFORM BRIDGE',
    'UB-1567',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200217/1308651/1308651_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'UNIFORM BRIDGE' and code_name=
    'UB-1567';
Update: Clothes, Clotehs_class 109 45
SELECT * FROM CLOTHES WHERE brand=
    'TRILLION' and code_name=
    'TR9SMT001';
Update:  TRILLION TR9SMT001
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'TRILLION',
    'TR9SMT001',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20190820/1121465/1121465_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'TRILLION' and code_name=
    'TR9SMT001';
Update: Clothes, Clotehs_class 110 45
SELECT * FROM CLOTHES WHERE brand=
    'JIPSY' and code_name=
    '19JPS09';
Update:  JIPSY 19JPS09
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'JIPSY',
    '19JPS09',
    '2020 ALL',
    '//image.msscdn.net/images/goods_img/20190214/953099/953099_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'JIPSY' and code_name=
    '19JPS09';
Update: Clothes, Clotehs_class 111 45
SELECT * FROM CLOTHES WHERE brand=
    'MELANGE MASTER' and code_name=
    'MMTS0001-BK';
Update:  MELANGE MASTER MMTS0001-BK
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MELANGE MASTER',
    'MMTS0001-BK',
    'none',
    '//image.msscdn.net/images/goods_img/20170831/620634/620634_5_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MELANGE MASTER' and code_name=
    'MMTS0001-BK';
Update: Clothes, Clotehs_class 112 45

SELECT * FROM CLOTHES WHERE brand=
    'MAHAGRID' and code_name=
    'MG2ASMM480AGR';
Update:  MAHAGRID MG2ASMM480AGR
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MAHAGRID',
    'MG2ASMM480AGR',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20190806/1111123/1111123_3_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MAHAGRID' and code_name=
    'MG2ASMM480AGR';
Update: Clothes, Clotehs_class 113 45
SELECT * FROM CLOTHES WHERE brand=
    'MARK GONZALES' and code_name=
    'MG2001CR01BK';
Update:  MARK GONZALES MG2001CR01BK
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MARK GONZALES',
    'MG2001CR01BK',
    'none',
    '//image.msscdn.net/images/goods_img/20170926/644037/644037_4_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MARK GONZALES' and code_name=
    'MG2001CR01BK';
Update: Clothes, Clotehs_class 114 45
SELECT * FROM CLOTHES WHERE brand=
    'ONA' and code_name=
    'ONT19421';
Update:  ONA ONT19421
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'ONA',
    'ONT19421',
    '2019 S/S',
    '//image.msscdn.net/images/goods_img/20190214/953273/953273_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'ONA' and code_name=
    'ONT19421';
Update: Clothes, Clotehs_class 115 44
SELECT * FROM CLOTHES WHERE brand=
    'MUSINSA STANDARD' and code_name=
    'MITS0001-MG';
Update:  MUSINSA STANDARD MITS0001-MG
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MUSINSA STANDARD',
    'MITS0001-MG',
    '2019 ALL',
    '//image.msscdn.net/images/goods_img/20190201/947068/947068_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MUSINSA STANDARD' and code_name=
    'MITS0001-MG';
Update: Clothes, Clotehs_class 116 45
SELECT * FROM CLOTHES WHERE brand=
    'JIPSY' and code_name=
    '19JPS08';
Update:  JIPSY 19JPS08
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'JIPSY',
    '19JPS08',
    '2020 ALL',
    '//image.msscdn.net/images/goods_img/20190214/953098/953098_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'JIPSY' and code_name=
    '19JPS08';
Update: Clothes, Clotehs_class 117 45
SELECT * FROM CLOTHES WHERE brand=
    'BRENSON' and code_name=
    'BR435';
Update:  BRENSON BR435
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'BRENSON',
    'BR435',
    '2019 F/W',
    '//image.msscdn.net/images/goods_img/20191023/1199146/1199146_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'BRENSON' and code_name=
    'BR435';
Update: Clothes, Clotehs_class 118 45
SELECT * FROM CLOTHES WHERE brand=
    'MARK GONZALES' and code_name=
    'MG2001CR01GR';
Update:  MARK GONZALES MG2001CR01GR
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MARK GONZALES',
    'MG2001CR01GR',
    'none',
    '//image.msscdn.net/images/goods_img/20170926/644038/644038_4_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MARK GONZALES' and code_name=
    'MG2001CR01GR';
Update: Clothes, Clotehs_class 119 45
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1906CR04BK';
Update:  COVERNAT C1906CR04BK
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'COVERNAT',
    'C1906CR04BK',
    '2020 ALL',
    '//image.msscdn.net/images/goods_img/20190805/1110027/1110027_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1906CR04BK';
Update: Clothes, Clotehs_class 120 45
SELECT * FROM CLOTHES WHERE brand=
    'DYCLEZ' and code_name=
    '1874213';
Update:  DYCLEZ 1874213
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'DYCLEZ',
    '1874213',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200131/1285534/1285534_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'DYCLEZ' and code_name=
    '1874213';
Update: Clothes, Clotehs_class 121 45
SELECT * FROM CLOTHES WHERE brand=
    'ADIDAS' and code_name=
    'CM1407';
Update:  ADIDAS CM1407
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'ADIDAS',
    'CM1407',
    '2019 ALL',
    '//image.msscdn.net/images/goods_img/20190219/957878/957878_4_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'ADIDAS' and code_name=
    'CM1407';
Update: Clothes, Clotehs_class 122 45
SELECT * FROM CLOTHES WHERE brand=
    'KIRSH' and code_name=
    'JSKT28';
Update:  KIRSH JSKT28
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'KIRSH',
    'JSKT28',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200113/1269789/1269789_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'KIRSH' and code_name=
    'JSKT28';
Update: Clothes, Clotehs_class 123 44
SELECT * FROM CLOTHES WHERE brand=
    'BESLOW ORIGINALS' and code_name=
    'BSL19FARCLOSWNA';
Update:  BESLOW ORIGINALS BSL19FARCLOSWNA
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'BESLOW ORIGINALS',
    'BSL19FARCLOSWNA',
    '2019 F/W',
    '//image.msscdn.net/images/goods_img/20191206/1245704/1245704_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'BESLOW ORIGINALS' and code_name=
    'BSL19FARCLOSWNA';
Update: Clothes, Clotehs_class 124 45
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1702CR01BR';
Update:  COVERNAT C1702CR01BR
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'COVERNAT',
    'C1702CR01BR',
    '2020 ALL',
    '//image.msscdn.net/images/goods_img/20170928/646891/646891_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1702CR01BR';
Update: Clothes, Clotehs_class 125 45
SELECT * FROM CLOTHES WHERE brand=
    'KIRSH' and code_name=
    'JSKT01';
Update:  KIRSH JSKT01
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'KIRSH',
    'JSKT01',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20170804/598263/598263_3_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'KIRSH' and code_name=
    'JSKT01';
Update: Clothes, Clotehs_class 126 44
SELECT * FROM CLOTHES WHERE brand=
    'SOVERMENT' and code_name=
    '9NS012C';
Update:  SOVERMENT 9NS012C
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'SOVERMENT',
    '9NS012C',
    '2019 F/W',
    '//image.msscdn.net/images/goods_img/20190917/1155974/1155974_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'SOVERMENT' and code_name=
    '9NS012C';
Update: Clothes, Clotehs_class 127 45
SELECT * FROM CLOTHES WHERE brand=
    'JEEP' and code_name=
    'GK5TSU824BK';
Update:  JEEP GK5TSU824BK
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'JEEP',
    'GK5TSU824BK',
    '2019 F/W',
    '//image.msscdn.net/images/goods_img/20190826/1129701/1129701_3_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'JEEP' and code_name=
    'GK5TSU824BK';
Update: Clothes, Clotehs_class 128 45
SELECT * FROM CLOTHES WHERE brand=
    'MUSINSA STANDARD' and code_name=
    'MITS0001-NA';
Update:  MUSINSA STANDARD MITS0001-NA
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MUSINSA STANDARD',
    'MITS0001-NA',
    '2019 ALL',
    '//image.msscdn.net/images/goods_img/20190201/947071/947071_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MUSINSA STANDARD' and code_name=
    'MITS0001-NA';
Update: Clothes, Clotehs_class 129 45
SELECT * FROM CLOTHES WHERE brand=
    'ADIDAS' and code_name=
    'CM1408';
Update:  ADIDAS CM1408
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'ADIDAS',
    'CM1408',
    '2019 ALL',
    '//image.msscdn.net/images/goods_img/20190219/957879/957879_4_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'ADIDAS' and code_name=
    'CM1408';
Update: Clothes, Clotehs_class 130 45
SELECT * FROM CLOTHES WHERE brand=
    'SCULPTOR' and code_name=
    'STRIPE VINTAGE SWEATSHIRT';
Update:  SCULPTOR STRIPE VINTAGE SWEATSHIRT
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'SCULPTOR',
    'STRIPE VINTAGE SWEATSHIRT',
    '2019 F/W',
    '//image.msscdn.net/images/goods_img/20180910/854331/854331_4_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'SCULPTOR' and code_name=
    'STRIPE VINTAGE SWEATSHIRT';
Update: Clothes, Clotehs_class 131 44
SELECT * FROM CLOTHES WHERE brand=
    'JEEP' and code_name=
    'GLTSU831BK';
Update:  JEEP GLTSU831BK
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'JEEP',
    'GLTSU831BK',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200110/1268125/1268125_3_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'JEEP' and code_name=
    'GLTSU831BK';
Update: Clothes, Clotehs_class 132 45
SELECT * FROM CLOTHES WHERE brand=
    'UNIFORM BRIDGE' and code_name=
    'UB-1181';
Update:  UNIFORM BRIDGE UB-1181
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'UNIFORM BRIDGE',
    'UB-1181',
    '2019 S/S',
    '//image.msscdn.net/images/goods_img/20190313/981067/981067_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'UNIFORM BRIDGE' and code_name=
    'UB-1181';

Update: Clothes, Clotehs_class 133 45
SELECT * FROM CLOTHES WHERE brand=
    'SOVERMENT' and code_name=
    '9NS012C';
SELECT * FROM CLOTHES WHERE brand=
    'LAFUDGESTORE' and code_name=
    'f-865';
Update:  LAFUDGESTORE f-865
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'LAFUDGESTORE',
    'f-865',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200213/1304902/1304902_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'LAFUDGESTORE' and code_name=
    'f-865';
Update: Clothes, Clotehs_class 134 45
SELECT * FROM CLOTHES WHERE brand=
    'MELANGE MASTER' and code_name=
    'MMTS0001-MG';
Update:  MELANGE MASTER MMTS0001-MG
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MELANGE MASTER',
    'MMTS0001-MG',
    'none',
    '//image.msscdn.net/images/goods_img/20170831/620638/620638_5_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MELANGE MASTER' and code_name=
    'MMTS0001-MG';
Update: Clothes, Clotehs_class 135 45
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1702CR01GN';
Update:  COVERNAT C1702CR01GN
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'COVERNAT',
    'C1702CR01GN',
    '2020 ALL',
    '//image.msscdn.net/images/goods_img/20170217/485074/485074_4_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1702CR01GN';
Update: Clothes, Clotehs_class 136 45
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1702CR01BK';
Update:  COVERNAT C1702CR01BK
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'COVERNAT',
    'C1702CR01BK',
    'ALL ALL',
    '//image.msscdn.net/images/goods_img/20160226/312174/312174_4_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1702CR01BK';
Update: Clothes, Clotehs_class 137 45
SELECT * FROM CLOTHES WHERE brand=
    'SOVERMENT' and code_name=
    '9NS012C';
SELECT * FROM CLOTHES WHERE brand=
    'TRILLION' and code_name=
    'TR9SMT001';
SELECT * FROM CLOTHES WHERE brand=
    'TRAVEL' and code_name=
    'TROEAWCR04UC3';
Update:  TRAVEL TROEAWCR04UC3
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'TRAVEL',
    'TROEAWCR04UC3',
    'none',
    '//image.msscdn.net/images/goods_img/20181104/897631/897631_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'TRAVEL' and code_name=
    'TROEAWCR04UC3';
Update: Clothes, Clotehs_class 138 45
SELECT * FROM CLOTHES WHERE brand=
    'LAFUDGESTORE' and code_name=
    'f-866';
Update:  LAFUDGESTORE f-866
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'LAFUDGESTORE',
    'f-866',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200213/1304910/1304910_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'LAFUDGESTORE' and code_name=
    'f-866';
Update: Clothes, Clotehs_class 139 45
SELECT * FROM CLOTHES WHERE brand=
    'DYCLEZ' and code_name=
    '1874211';
Update:  DYCLEZ 1874211
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'DYCLEZ',
    '1874211',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200131/1285531/1285531_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'DYCLEZ' and code_name=
    '1874211';
Update: Clothes, Clotehs_class 140 45
SELECT * FROM CLOTHES WHERE brand=
    'MUSINSA STANDARD' and code_name=
    'MITS0001-WH';
Update:  MUSINSA STANDARD MITS0001-WH
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MUSINSA STANDARD',
    'MITS0001-WH',
    '2019 ALL',
    '//image.msscdn.net/images/goods_img/20191101/1209633/1209633_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MUSINSA STANDARD' and code_name=
    'MITS0001-WH';
Update: Clothes, Clotehs_class 141 45
SELECT * FROM CLOTHES WHERE brand=
    'JEEP' and code_name=
    'GL5TSU831MG';
Update:  JEEP GL5TSU831MG
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'JEEP',
    'GL5TSU831MG',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200110/1268119/1268119_4_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'JEEP' and code_name=
    'GL5TSU831MG';
Update: Clothes, Clotehs_class 142 45
SELECT * FROM CLOTHES WHERE brand=
    'UNIFORM BRIDGE' and code_name=
    'UB-1180';
Update:  UNIFORM BRIDGE UB-1180
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'UNIFORM BRIDGE',
    'UB-1180',
    '2019 S/S',
    '//image.msscdn.net/images/goods_img/20190313/981057/981057_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'UNIFORM BRIDGE' and code_name=
    'UB-1180';
Update: Clothes, Clotehs_class 143 45
SELECT * FROM CLOTHES WHERE brand=
    'WADE' and code_name=
    'W1028';
Update:  WADE W1028
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'WADE',
    'W1028',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200219/1312309/1312309_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'WADE' and code_name=
    'W1028';
Update: Clothes, Clotehs_class 144 45
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1702CR01GR';
Update:  COVERNAT C1702CR01GR
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'COVERNAT',
    'C1702CR01GR',
    '2020 ALL',
    '//image.msscdn.net/images/goods_img/20161025/435579/435579_4_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1702CR01GR';
Update: Clothes, Clotehs_class 145 45
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C2012CR01IV';
Update:  COVERNAT C2012CR01IV
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'COVERNAT',
    'C2012CR01IV',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200204/1290897/1290897_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C2012CR01IV';
Update: Clothes, Clotehs_class 146 45
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1702CR01LT';
Update:  COVERNAT C1702CR01LT
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'COVERNAT',
    'C1702CR01LT',
    '2020 ALL',
    '//image.msscdn.net/images/goods_img/20190123/938782/938782_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1702CR01LT';
Update: Clothes, Clotehs_class 147 45
SELECT * FROM CLOTHES WHERE brand=
    'AQOstudiospace' and code_name=
    'AQDAMMT01IV';
Update:  AQOstudiospace AQDAMMT01IV
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'AQOstudiospace',
    'AQDAMMT01IV',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200129/1282913/1282913_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'AQOstudiospace' and code_name=
    'AQDAMMT01IV';
Update: Clothes, Clotehs_class 148 44
SELECT * FROM CLOTHES WHERE brand=
    'VIVASTUDIO' and code_name=
    'JSVT21';
SELECT * FROM CLOTHES WHERE brand=
    'JIPSY' and code_name=
    '19JPS34';
Update:  JIPSY 19JPS34
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'JIPSY',
    '19JPS34',
    '2020 ALL',
    '//image.msscdn.net/images/goods_img/20190809/1115453/1115453_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'JIPSY' and code_name=
    '19JPS34';
Update: Clothes, Clotehs_class 149 45
SELECT * FROM CLOTHES WHERE brand=
    'KIRSH' and code_name=
    'JSKT26';
Update:  KIRSH JSKT26
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'KIRSH',
    'JSKT26',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200113/1269815/1269815_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'KIRSH' and code_name=
    'JSKT26';
Update: Clothes, Clotehs_class 150 44
SELECT * FROM CLOTHES WHERE brand=
    'EZKATON' and code_name=
    '1849358';
Update:  EZKATON 1849358
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'EZKATON',
    '1849358',
    '2019 F/W',
    '//image.msscdn.net/images/goods_img/20191121/1231838/1231838_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'EZKATON' and code_name=
    '1849358';
Update: Clothes, Clotehs_class 151 45
SELECT * FROM CLOTHES WHERE brand=
    'PUNCHLINE' and code_name=
    '1723916';
Update:  PUNCHLINE 1723916
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'PUNCHLINE',
    '1723916',
    '2019 S/S',
    '//image.msscdn.net/images/goods_img/20190215/954633/954633_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'PUNCHLINE' and code_name=
    '1723916';
Update: Clothes, Clotehs_class 152 45
SELECT * FROM CLOTHES WHERE brand=
    'MAHAGRID' and code_name=
    'MG2ASMM480APP';
Update:  MAHAGRID MG2ASMM480APP
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MAHAGRID',
    'MG2ASMM480APP',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20191227/1258099/1258099_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MAHAGRID' and code_name=
    'MG2ASMM480APP';

Update: Clothes, Clotehs_class 153 44
SELECT * FROM CLOTHES WHERE brand=
    'MUSINSA STANDARD' and code_name=
    'MITS0001-OT';
Update:  MUSINSA STANDARD MITS0001-OT
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MUSINSA STANDARD',
    'MITS0001-OT',
    '2019 ALL',
    '//image.msscdn.net/images/goods_img/20190201/947070/947070_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MUSINSA STANDARD' and code_name=
    'MITS0001-OT';
Update: Clothes, Clotehs_class 154 45
SELECT * FROM CLOTHES WHERE brand=
    'TRAVEL' and code_name=
    'TRONAWCR25UC5';
Update:  TRAVEL TRONAWCR25UC5
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'TRAVEL',
    'TRONAWCR25UC5',
    'none',
    '//image.msscdn.net/images/goods_img/20190823/1126429/1126429_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'TRAVEL' and code_name=
    'TRONAWCR25UC5';
Update: Clothes, Clotehs_class 155 45
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1906CR04IV';
Update:  COVERNAT C1906CR04IV
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'COVERNAT',
    'C1906CR04IV',
    '2020 ALL',
    '//image.msscdn.net/images/goods_img/20190805/1110026/1110026_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1906CR04IV';
Update: Clothes, Clotehs_class 156 45
SELECT * FROM CLOTHES WHERE brand=
    'EZKATON' and code_name=
    '1815790';
Update:  EZKATON 1815790
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'EZKATON',
    '1815790',
    '2019 F/W',
    '//image.msscdn.net/images/goods_img/20190905/1143427/1143427_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'EZKATON' and code_name=
    '1815790';
Update: Clothes, Clotehs_class 157 45
SELECT * FROM CLOTHES WHERE brand=
    'NOMANUAL' and code_name=
    'NM63SW06M1BK';
Update:  NOMANUAL NM63SW06M1BK
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'NOMANUAL',
    'NM63SW06M1BK',
    '2019 F/W',
    '//image.msscdn.net/images/goods_img/20190818/1120095/1120095_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'NOMANUAL' and code_name=
    'NM63SW06M1BK';
Update: Clothes, Clotehs_class 158 45
SELECT * FROM CLOTHES WHERE brand=
    'ACHA' and code_name=
    '맨투맨';
Update:  ACHA 맨투맨
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'ACHA',
    '맨투맨',
    'none',
    '//image.msscdn.net/images/goods_img/20180910/853187/853187_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'ACHA' and code_name=
    '맨투맨';
Update: Clothes, Clotehs_class 159 45
SELECT * FROM CLOTHES WHERE brand=
    'MAHAGRID' and code_name=
    'MG2ASMM480APK';
Update:  MAHAGRID MG2ASMM480APK
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MAHAGRID',
    'MG2ASMM480APK',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20191227/1258100/1258100_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MAHAGRID' and code_name=
    'MG2ASMM480APK';
Update: Clothes, Clotehs_class 160 44
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1906CR04GR';
Update:  COVERNAT C1906CR04GR
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'COVERNAT',
    'C1906CR04GR',
    '2020 ALL',
    '//image.msscdn.net/images/goods_img/20190805/1110028/1110028_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'COVERNAT' and code_name=
    'C1906CR04GR';
Update: Clothes, Clotehs_class 161 45
SELECT * FROM CLOTHES WHERE brand=
    'FP142' and code_name=
    '400381';
Update:  FP142 400381
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'FP142',
    '400381',
    'none',
    '//image.msscdn.net/images/goods_img/20150819/238891/238891_18_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'FP142' and code_name=
    '400381';
Update: Clothes, Clotehs_class 162 45
SELECT * FROM CLOTHES WHERE brand=
    'COSTUME O’CLOCK' and code_name=
    'COOSTS068BLACK';
Update:  COSTUME O’CLOCK COOSTS068BLACK
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'COSTUME O’CLOCK',
    'COOSTS068BLACK',
    'none',
    '//image.msscdn.net/images/goods_img/20180125/703991/703991_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'COSTUME O’CLOCK' and code_name=
    'COOSTS068BLACK';
Update: Clothes, Clotehs_class 163 45
SELECT * FROM CLOTHES WHERE brand=
    'JEEP' and code_name=
    'GL5TSU831BL';
Update:  JEEP GL5TSU831BL
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'JEEP',
    'GL5TSU831BL',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200110/1268120/1268120_3_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'JEEP' and code_name=
    'GL5TSU831BL';
Update: Clothes, Clotehs_class 164 45
SELECT * FROM CLOTHES WHERE brand=
    'MAHAGRID' and code_name=
    'MG2ASMM481AGR';
Update:  MAHAGRID MG2ASMM481AGR
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'MAHAGRID',
    'MG2ASMM481AGR',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20190814/1118294/1118294_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'MAHAGRID' and code_name=
    'MG2ASMM481AGR';
Update: Clothes, Clotehs_class 165 45
SELECT * FROM CLOTHES WHERE brand=
    'TRAVEL' and code_name=
    'TRONAWCR71UC3';
Update:  TRAVEL TRONAWCR71UC3
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'TRAVEL',
    'TRONAWCR71UC3',
    'none',
    '//image.msscdn.net/images/goods_img/20190925/1165923/1165923_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'TRAVEL' and code_name=
    'TRONAWCR71UC3';
Update: Clothes, Clotehs_class 166 45
SELECT * FROM CLOTHES WHERE brand=
    '5252BYOIOI' and code_name=
    '20SP_36';
Update:  5252BYOIOI 20SP_36
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    '5252BYOIOI',
    '20SP_36',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200106/1263074/1263074_2_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    '5252BYOIOI' and code_name=
    '20SP_36';
Update: Clothes, Clotehs_class 167 44
SELECT * FROM CLOTHES WHERE brand=
    'UNIFORM BRIDGE' and code_name=
    'UB-1568';
Update:  UNIFORM BRIDGE UB-1568
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'UNIFORM BRIDGE',
    'UB-1568',
    '2020 S/S',
    '//image.msscdn.net/images/goods_img/20200217/1308652/1308652_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'UNIFORM BRIDGE' and code_name=
    'UB-1568';
Update: Clothes, Clotehs_class 168 45
SELECT * FROM CLOTHES WHERE brand=
    'TRAVEL' and code_name=
    'TRONAWCR71UB4';
Update:  TRAVEL TRONAWCR71UB4
INSERT INTO CLOTHES (brand, code_name, season, img) VALUES(
    'TRAVEL',
    'TRONAWCR71UB4',
    'none',
    '//image.msscdn.net/images/goods_img/20191224/1256480/1256480_1_500.jpg')
SELECT * FROM CLOTHES WHERE brand=
    'TRAVEL' and code_name=
    'TRONAWCR71UB4';
Update: Clothes, Clotehs_class 169 45